In [1]:
from __future__ import annotations # To prevent Subscript for class "list" will generate runtime exception; enclose type annotation in quotes
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import random
# from Kmeans import *
%matplotlib inline
# pd.options.display.max_rows = 4000

In [2]:
df = pd.read_csv('users.dat', delimiter='::', names=['UserID','Gender','Age','Occupation','Zip-code'], index_col='UserID')
df

/tmp/ipykernel_7471/4029702980.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('users.dat', delimiter='::', names=['UserID','Gender','Age','Occupation','Zip-code'], index_col='UserID')

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455
...       ...  ...         ...      ...
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

[6040 rows x 4 columns]

In [3]:
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df

        Gender  Age  Occupation Zip-code
UserID
1            0    1          10    48067
2            1   56          16    70072
3            1   25          15    55117
4            1   45           7    02460
5            1   25          20    55455
...        ...  ...         ...      ...
6036         0   25          15    32603
6037         0   45           1    76006
6038         0   56           1    14706
6039         0   45           0    01060
6040         1   25           6    11106

[6040 rows x 4 columns]

In [4]:
df['Zip-code'] = df['Zip-code'].apply(lambda x: int(x.split('-')[0]) if type(x)==str else x)
df['Zip-code'] = df['Zip-code'].apply(lambda x: int(str(x)[0]))

In [5]:
df['Zip-code'] = df['Zip-code'].astype('int64')

In [6]:
df.describe()

            Gender          Age   Occupation     Zip-code
count  6040.000000  6040.000000  6040.000000  6040.000000
mean      0.717053    30.639238     8.146854     5.319371
std       0.450468    12.895962     6.329511     2.860588
min       0.000000     1.000000     0.000000     1.000000
25%       0.000000    25.000000     3.000000     3.000000
50%       1.000000    25.000000     7.000000     5.000000
75%       1.000000    35.000000    14.000000     8.000000
max       1.000000    56.000000    20.000000     9.000000

In [7]:
zipcode=df['Zip-code']
df = pd.get_dummies(
    data=df, # dataframe to one hot encode
    columns=["Zip-code"])
df = pd.get_dummies(
    data=df, # dataframe to one hot encode
    columns=["Occupation"])

In [8]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Occupation_17,Occupation_18,Occupation_19,Occupation_20
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,56,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,1,25,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,45,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,25,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,25,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6037,0,45,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,56,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,0,45,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6040,1,25,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df['Age'] = df['Age'].apply(lambda x: x/56)

In [10]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Occupation_17,Occupation_18,Occupation_19,Occupation_20
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1.000000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0.446429,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0.803571,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0.446429,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6037,0,0.803571,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,1.000000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,0,0.803571,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6040,1,0.446429,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
ratings=pd.read_csv('ratings.dat', delimiter='::', names=['UserID','MovieID','Rating','TimeStamp'])

/tmp/ipykernel_7471/3496359467.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings=pd.read_csv('ratings.dat', delimiter='::', names=['UserID','MovieID','Rating','TimeStamp'])

In [12]:
ratings.describe()

             UserID       MovieID        Rating     TimeStamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00  9.722437e+08
std    1.728413e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [13]:
mean=ratings.loc[:, 'Rating'].mean()
std=ratings.loc[:, 'Rating'].std()
rating = ratings['Rating'].apply(lambda x: (x-mean)/ std)
min=ratings.loc[:, 'Rating'].min()
max=ratings.loc[:, 'Rating'].max()
rating = ratings['Rating'].apply(lambda x: (x-min)/ (max-min))
ratings['Rating']=rating
# min=ratings.loc[:, 'TimeStamp'].min()
# ratings['TimeStamp'] = ratings['TimeStamp'].apply(lambda x: x-min)

In [14]:
ratings

         UserID  MovieID  Rating  TimeStamp
0             1     1193    1.00  978300760
1             1      661    0.50  978302109
2             1      914    0.50  978301968
3             1     3408    0.75  978300275
4             1     2355    1.00  978824291
...         ...      ...     ...        ...
1000204    6040     1091    0.00  956716541
1000205    6040     1094    1.00  956704887
1000206    6040      562    1.00  956704746
1000207    6040     1096    0.75  956715648
1000208    6040     1097    0.75  956715569

[1000209 rows x 4 columns]

In [15]:
ratings.describe()

             UserID       MovieID        Rating     TimeStamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  6.453911e-01  9.722437e+08
std    1.728413e+03  1.096041e+03  2.792755e-01  1.215256e+07
min    1.000000e+00  1.000000e+00  0.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  5.000000e-01  9.653026e+08
50%    3.070000e+03  1.835000e+03  7.500000e-01  9.730180e+08
75%    4.476000e+03  2.770000e+03  7.500000e-01  9.752209e+08
max    6.040000e+03  3.952000e+03  1.000000e+00  1.046455e+09

In [16]:
movies=pd.read_csv('movies.dat', delimiter='::', names=["Title","Genres"],  encoding="ISO-8859-1")

/tmp/ipykernel_7471/1598474825.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies=pd.read_csv('movies.dat', delimiter='::', names=["Title","Genres"],  encoding="ISO-8859-1")

In [17]:
movies['Genres'] = movies['Genres'].apply(lambda x: x.split("|"))

In [18]:
decade_set=[]
for i in movies.index:
    title=movies.at[i,'Title']
    decade=title[-5:-2]
    decade=str(decade)+'0s'
    movies.at[i,'Genres'].append(decade)
    decade_set.append(decade)

In [19]:
decades=[]
for i in set(decade_set):
    decades.append(i)
decades

['1930s',
 '1990s',
 '1940s',
 '1910s',
 '2000s',
 '1980s',
 '1920s',
 '1960s',
 '1950s',
 '1970s']

In [20]:
movies

,Title,Genres
1,Toy Story (1995),"[Animation, Children's, Comedy, 1990s]"
2,Jumanji (1995),"[Adventure, Children's, Fantasy, 1990s]"
3,Grumpier Old Men (1995),"[Comedy, Romance, 1990s]"
4,Waiting to Exhale (1995),"[Comedy, Drama, 1990s]"
5,Father of the Bride Part II (1995),"[Comedy, 1990s]"
...,...,...
3948,Meet the Parents (2000),"[Comedy, 2000s]"
3949,Requiem for a Dream (2000),"[Drama, 2000s]"
3950,Tigerland (2000),"[Drama, 2000s]"
3951,Two Family House (2000),"[Drama, 2000s]"
3952,"Contender, The (2000)","[Drama, Thriller, 2000s]"

In [21]:
Genres=["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]+decades

In [22]:
random.Random(4).shuffle(Genres)
tmp=[[] for _ in range(6040)]
for i in Genres:
    df[i]=tmp

In [23]:
Genres

['Documentary',
 'Sci-Fi',
 'Musical',
 '1970s',
 'War',
 '1930s',
 'Western',
 'Horror',
 '2000s',
 '1990s',
 '1910s',
 'Crime',
 'Romance',
 'Fantasy',
 '1960s',
 'Adventure',
 '1950s',
 '1920s',
 'Action',
 '1940s',
 'Animation',
 'Comedy',
 'Thriller',
 'Mystery',
 '1980s',
 "Children's",
 'Film-Noir',
 'Drama']

In [24]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1940s,Animation,Comedy,Thriller,Mystery,1980s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
2,1,1.000000,0,0,0,0,0,0,1,0,...,[],[],[],[],[],[],[],[],[],[]
3,1,0.446429,0,0,0,0,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
4,1,0.803571,0,1,0,0,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
5,1,0.446429,0,0,0,0,1,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
6037,0,0.803571,0,0,0,0,0,0,1,0,...,[],[],[],[],[],[],[],[],[],[]
6038,0,1.000000,1,0,0,0,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
6039,0,0.803571,1,0,0,0,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]
6040,1,0.446429,1,0,0,0,0,0,0,0,...,[],[],[],[],[],[],[],[],[],[]

In [25]:
for j in ratings.index:
    uid,mid,rating,_=ratings.iloc[j]
    uid=int(uid)
    mid=int(mid)
    try:
        genres=movies.at[mid,"Genres"]
        # print(uid, rating)
        for i in genres:
            # print("\t",i)
            temp = df.at[uid,i]
            if(len(temp)==0):
                temp=[rating,1]
            else:
                temp[0]+=rating
                temp[1]+=1
            df.at[uid,i]=temp
    except:
        pass

In [26]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1940s,Animation,Comedy,Thriller,Mystery,1980s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,"[4.0, 5]","[2.5, 3]","[14.0, 18]","[11.0, 14]","[2.0, 3]",[],"[8.0, 10]","[16.25, 20]",[],"[18.0, 21]"
2,1,1.000000,0,0,0,0,0,0,1,0,...,"[35.0, 56]","[1.5, 2]",[],"[16.0, 25]","[19.25, 31]","[1.75, 3]","[15.25, 21]",[],"[0.75, 1]","[57.25, 79]"
3,1,0.446429,0,0,0,0,1,0,0,0,...,"[17.0, 23]",[],"[2.25, 3]","[20.75, 30]","[3.5, 5]","[0.5, 1]","[14.75, 20]","[2.25, 3]",[],"[6.0, 8]"
4,1,0.803571,0,1,0,0,0,0,0,0,...,"[15.0, 19]",[],[],[],"[2.5, 4]",[],"[4.25, 7]","[0.75, 1]",[],"[4.75, 6]"
5,1,0.446429,0,0,0,0,1,0,0,0,...,"[12.5, 31]","[1.0, 1]","[3.0, 4]","[33.75, 56]","[18.0, 39]","[4.25, 8]","[2.5, 7]","[4.25, 6]","[2.25, 3]","[54.5, 104]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,"[77.0, 154]","[14.25, 18]","[24.75, 34]","[143.75, 261]","[78.75, 147]","[20.5, 34]","[113.5, 193]","[33.0, 54]","[13.0, 17]","[233.0, 372]"
6037,0,0.803571,0,0,0,0,0,0,1,0,...,"[18.5, 28]","[10.0, 14]","[0.75, 1]","[38.0, 59]","[46.0, 68]","[8.75, 13]","[26.25, 39]","[4.0, 6]","[5.5, 9]","[70.5, 98]"
6038,0,1.000000,1,0,0,0,0,0,0,0,...,"[1.0, 2]",[],"[2.0, 3]","[8.5, 12]",[],[],"[4.0, 5]","[0.5, 1]",[],"[6.5, 9]"
6039,0,0.803571,1,0,0,0,0,0,0,0,...,"[6.0, 8]","[11.5, 15]","[8.5, 13]","[44.25, 65]","[11.0, 14]","[13.5, 17]","[9.75, 14]","[10.75, 17]","[5.25, 6]","[21.0, 28]"
6040,1,0.446429,1,0,0,0,0,0,0,0,...,"[20.75, 42]","[11.25, 12]","[2.0, 4]","[58.0, 102]","[30.0, 41]","[9.5, 11]","[67.75, 143]","[4.5, 6]","[7.5, 10]","[130.5, 185]"

In [27]:
df_off=df.copy()
for i in Genres:
    for j in df_off.index:
        temp=df_off.at[j,i]
        if(len(temp)==2):
            df_off.at[j,i]=temp[0]/temp[1]
        else:
            df_off.at[j,i]=np.nan

In [28]:
df_off

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1940s,Animation,Comedy,Thriller,Mystery,1980s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,0.8,0.833333,0.777778,0.785714,0.666667,NaN,0.8,0.8125,NaN,0.857143
2,1,1.000000,0,0,0,0,0,0,1,0,...,0.625,0.75,NaN,0.64,0.620968,0.583333,0.72619,NaN,0.75,0.724684
3,1,0.446429,0,0,0,0,1,0,0,0,...,0.73913,NaN,0.75,0.691667,0.7,0.5,0.7375,0.75,NaN,0.75
4,1,0.803571,0,1,0,0,0,0,0,0,...,0.789474,NaN,NaN,NaN,0.625,NaN,0.607143,0.75,NaN,0.791667
5,1,0.446429,0,0,0,0,1,0,0,0,...,0.403226,1.0,0.75,0.602679,0.461538,0.53125,0.357143,0.708333,0.75,0.524038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,0.5,0.791667,0.727941,0.550766,0.535714,0.602941,0.588083,0.611111,0.764706,0.626344
6037,0,0.803571,0,0,0,0,0,0,1,0,...,0.660714,0.714286,0.75,0.644068,0.676471,0.673077,0.673077,0.666667,0.611111,0.719388
6038,0,1.000000,1,0,0,0,0,0,0,0,...,0.5,NaN,0.666667,0.708333,NaN,NaN,0.8,0.5,NaN,0.722222
6039,0,0.803571,1,0,0,0,0,0,0,0,...,0.75,0.766667,0.653846,0.680769,0.785714,0.794118,0.696429,0.632353,0.875,0.75
6040,1,0.446429,1,0,0,0,0,0,0,0,...,0.494048,0.9375,0.5,0.568627,0.731707,0.863636,0.473776,0.75,0.75,0.705405

In [29]:
df_off.isna().sum().sum()

36697

In [30]:
df_off['Zip-code']=zipcode
grouped = df_off.groupby(['Age','Gender','Zip-code'])
grouped.count()

                          Zip-code_1  Zip-code_2  Zip-code_3  Zip-code_4  \
Age      Gender Zip-code
0.017857 0      1                 15          15          15          15
                2                 12          12          12          12
                3                  3           3           3           3
                4                  9           9           9           9
                5                 11          11          11          11
...                              ...         ...         ...         ...
1.000000 1      5                 25          25          25          25
                6                 15          15          15          15
                7                 22          22          22          22
                8                 16          16          16          16
                9                 62          62          62          62

                          Zip-code_5  Zip-code_6  Zip-code_7  Zip-code_8  \
Age      Gender Zip-code
0.017857 0      1                 15          15          15          15
                2                 12          12          12          12
                3                  3           3           3           3
                4                  9           9           9           9
                5                 11          11          11          11
...                              ...         ...         ...         ...
1.000000 1      5                 25          25          25          25
                6                 15          15          15          15
                7                 22          22          22          22
                8                 16          16          16          16
                9                 62          62          62          62

                          Zip-code_9  Occupation_0  ...  Action  1940s  \
Age      Gender Zip-code                            ...
0.017857 0      1                 15            15  ...      15      9
                2                 12            12  ...      11      8
                3                  3             3  ...       3      3
                4                  9             9  ...       9      6
                5                 11            11  ...      11      6
...                              ...           ...  ...     ...    ...
1.000000 1      5                 25            25  ...      25     17
                6                 15            15  ...      15     10
                7                 22            22  ...      22     16
                8                 16            16  ...      16     13
                9                 62            62  ...      62     42

                          Animation  Comedy  Thriller  Mystery  1980s  \
Age      Gender Zip-code
0.017857 0      1                13      15        14       11     14
                2                10      12        12        8     11
                3                 3       3         3        3      3
                4                 9       9         8        5      9
                5                 9      11        10        8     10
...                             ...     ...       ...      ...    ...
1.000000 1      5                15      25        24       21     24
                6                 9      15        15       12     15
                7                15      22        22       19     22
                8                 8      16        15       13     16
                9                48      62        61       55     61

                          Children's  Film-Noir  Drama
Age      Gender Zip-code
0.017857 0      1                 15          5     15
                2                 11          4     12
                3                  3          2      3
                4                  9          2      9
                5                  9          4     11
...                              ...        ...    ...
1.000000 1      5                 20         17     25
                6                 12          7     15
                7                 19         17     22
                8                 11         13     16
                9                 56         48     62

[126 rows x 58 columns]

In [31]:
for i in Genres:
    df_off[i] = grouped[i].transform(lambda x: x.fillna(x.mean()))

In [32]:
grouped = df_off.groupby(['Age','Gender'])
grouped.count()

                 Zip-code_1  Zip-code_2  Zip-code_3  Zip-code_4  Zip-code_5  \
Age      Gender
0.017857 0               78          78          78          78          78
         1              144         144         144         144         144
0.321429 0              298         298         298         298         298
         1              805         805         805         805         805
0.446429 0              558         558         558         558         558
         1             1538        1538        1538        1538        1538
0.625000 0              338         338         338         338         338
         1              855         855         855         855         855
0.803571 0              189         189         189         189         189
         1              361         361         361         361         361
0.892857 0              146         146         146         146         146
         1              350         350         350         350         350
1.000000 0              102         102         102         102         102
         1              278         278         278         278         278

                 Zip-code_6  Zip-code_7  Zip-code_8  Zip-code_9  Occupation_0  \
Age      Gender
0.017857 0               78          78          78          78            78
         1              144         144         144         144           144
0.321429 0              298         298         298         298           298
         1              805         805         805         805           805
0.446429 0              558         558         558         558           558
         1             1538        1538        1538        1538          1538
0.625000 0              338         338         338         338           338
         1              855         855         855         855           855
0.803571 0              189         189         189         189           189
         1              361         361         361         361           361
0.892857 0              146         146         146         146           146
         1              350         350         350         350           350
1.000000 0              102         102         102         102           102
         1              278         278         278         278           278

                 ...  1940s  Animation  Comedy  Thriller  Mystery  1980s  \
Age      Gender  ...
0.017857 0       ...     78         78      78        78       78     78
         1       ...    144        144     144       144      144    144
0.321429 0       ...    298        298     298       298      298    298
         1       ...    805        805     805       805      805    805
0.446429 0       ...    558        558     558       558      558    558
         1       ...   1538       1538    1538      1538     1538   1538
0.625000 0       ...    338        338     338       338      338    338
         1       ...    855        855     855       855      855    855
0.803571 0       ...    189        189     189       189      189    189
         1       ...    361        361     361       361      361    361
0.892857 0       ...    146        146     146       146      146    146
         1       ...    350        350     350       350      350    350
1.000000 0       ...    102        102     102       102      102    102
         1       ...    278        278     278       278      278    278

                 Children's  Film-Noir  Drama  Zip-code
Age      Gender
0.017857 0               78         78     78        78
         1              144        144    144       144
0.321429 0              298        298    298       298
         1              805        805    805       805
0.446429 0              558        558    558       558
         1             1538       1538   1538      1538
0.625000 0              338        338    338       338
         1              855        855    855       855
0.803571 0              189        189    189       189
         1              361        361    361       361
0.892857 0              146        146    146       146
         1              350        350    350       350
1.000000 0              102        102    102       102
         1              278        278    278       278

[14 rows x 59 columns]

In [33]:
for i in Genres:
    df_off[i] = grouped[i].transform(lambda x: x.fillna(x.mean()))

In [34]:
df_off.isna().sum().sum()

520

In [35]:
for i in Genres:
    df_off[i].fillna(df_off[i].mean(), inplace=True)

In [36]:
df_off.isna().sum().sum()

0

In [37]:
df_off.drop("Zip-code",axis=1,inplace=True)

In [38]:
df_off

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1940s,Animation,Comedy,Thriller,Mystery,1980s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,0.800000,0.833333,0.777778,0.785714,0.666667,0.562500,0.800000,0.812500,0.125000,0.857143
2,1,1.000000,0,0,0,0,0,0,1,0,...,0.625000,0.750000,0.671944,0.640000,0.620968,0.583333,0.726190,0.608333,0.750000,0.724684
3,1,0.446429,0,0,0,0,1,0,0,0,...,0.739130,0.725434,0.750000,0.691667,0.700000,0.500000,0.737500,0.750000,0.737622,0.750000
4,1,0.803571,0,1,0,0,0,0,0,0,...,0.789474,0.818220,0.659223,0.680079,0.625000,0.713019,0.607143,0.750000,0.763425,0.791667
5,1,0.446429,0,0,0,0,1,0,0,0,...,0.403226,1.000000,0.750000,0.602679,0.461538,0.531250,0.357143,0.708333,0.750000,0.524038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,0.500000,0.791667,0.727941,0.550766,0.535714,0.602941,0.588083,0.611111,0.764706,0.626344
6037,0,0.803571,0,0,0,0,0,0,1,0,...,0.660714,0.714286,0.750000,0.644068,0.676471,0.673077,0.673077,0.666667,0.611111,0.719388
6038,0,1.000000,1,0,0,0,0,0,0,0,...,0.500000,0.719025,0.666667,0.708333,0.670879,0.699132,0.800000,0.500000,0.687500,0.722222
6039,0,0.803571,1,0,0,0,0,0,0,0,...,0.750000,0.766667,0.653846,0.680769,0.785714,0.794118,0.696429,0.632353,0.875000,0.750000
6040,1,0.446429,1,0,0,0,0,0,0,0,...,0.494048,0.937500,0.500000,0.568627,0.731707,0.863636,0.473776,0.750000,0.750000,0.705405

In [39]:
ToNormalize=df_off[Genres]
min=ToNormalize.min(axis=1)
max=ToNormalize.max(axis=1)
# print(min,max)
for i in ToNormalize.index:
    for j in Genres:
        if(max[i]==min[i]):
            pass
        else:
            ToNormalize.at[i,j]=(ToNormalize.at[i,j]-min[i])/(max[i]-min[i])
# ToNormalize=ToNormalize.apply(lambda x:(x-min)/max, axis=1)
for i in Genres:
    df_off[i]=ToNormalize[i]

In [40]:
df_off.isna().sum().sum()

0

In [41]:
df_off

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1940s,Animation,Comedy,Thriller,Mystery,1980s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,0.771429,0.809524,0.746032,0.755102,0.619048,0.500000,0.771429,0.785714,0.000000,0.836735
2,1,1.000000,0,0,0,0,0,0,1,0,...,0.250000,0.500000,0.343889,0.280000,0.241935,0.166667,0.452381,0.216667,0.500000,0.449367
3,1,0.446429,0,0,0,0,1,0,0,0,...,0.644928,0.617535,0.666667,0.550000,0.566667,0.166667,0.641667,0.666667,0.641911,0.666667
4,1,0.803571,0,1,0,0,0,0,0,0,...,0.494737,0.563727,0.182136,0.232189,0.100000,0.311245,0.057143,0.400000,0.432221,0.500000
5,1,0.446429,0,0,0,0,1,0,0,0,...,0.140645,1.000000,0.640000,0.427857,0.224615,0.325000,0.074286,0.580000,0.640000,0.314615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,0.238095,0.682540,0.585434,0.315453,0.292517,0.394958,0.372317,0.407407,0.641457,0.430620
6037,0,0.803571,0,0,0,0,0,0,1,0,...,0.514286,0.685714,0.800000,0.461017,0.564706,0.553846,0.553846,0.533333,0.355556,0.702041
6038,0,1.000000,1,0,0,0,0,0,0,0,...,0.200000,0.550441,0.466667,0.533333,0.473406,0.518611,0.680000,0.200000,0.500000,0.555556
6039,0,0.803571,1,0,0,0,0,0,0,0,...,0.500000,0.566667,0.115385,0.223077,0.642857,0.676471,0.285714,0.029412,1.000000,0.500000
6040,1,0.446429,1,0,0,0,0,0,0,0,...,0.159928,0.896226,0.169811,0.283759,0.554533,0.773585,0.126270,0.584906,0.584906,0.510862

In [42]:
df_off.to_csv('preprocessed.csv')

In [43]:
pd.DataFrame(Genres).to_csv('genre_order.csv')